@using Project1Practice.Models;
@model IEnumerable<Truyen>

<div class=" h_menu4">
    <ul class="memenu skyblue">
        <li class="active grid"><a class="color8" href="@Url.Action("Index","Home")">Trang Chủ</a></li>

        @foreach (var groupItem in Model.GroupBy(n => n.LoaiSanPham))
        {
            if (groupItem.Key != null)
            {
                <li class="grid">
                    <a class="color1" href="@Url.Action("SanPham","SanPham", new {@MaLoaiSP = groupItem.Key.MaLoaiSP})">@groupItem.Key.TenLoai</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <ul>
                                        @foreach (var item in groupItem)
                                        {
                                            <li><a href="@Url.Action("SanPhamByType","SanPham", new {@MaTruyen = item.MaTruyen})">@item.TenTruyen</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        }
        <li class="grid">
            <a class="color2" href="@Url.Action("SanPhamAll","SanPham")">Tất cả</a>
            <div class="mepanel">
                <div class="row">
                    @foreach (var groupItem in Model.GroupBy(n => n.LoaiSanPham))
                    {
                        if (groupItem.Key != null)
                        {
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>@groupItem.Key.TenLoai</h4>
                                    <ul>
                                        @foreach (var item in groupItem)
                                        {
                                        <li><a href="@Url.Action("SanPhamByType","SanPham", new {@MaTruyen = item.MaTruyen})">@item.TenTruyen</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }

                    }

                </div>
            </div>
        </li>
        <li><a class="color6" href="@Url.Action("Contact","Home")">Liên hệ</a></li>
    </ul>
</div>
